<html lang="en">
<center><h2>Student Portal</h2></center>
<table align="center">

    <tr>
        <td>Registration Here</td>
        <td><button><a href="/registration ">Registration</a></button></td>
    </tr>

    <tr>
        <td>Apply Here</td>
        <td><button><a href="/application ">Apply</a></button></td>
    </tr>

    <tr>
        <td>Candidates List</td>
        <td><button><a href="/condidates "> Candidates </a></button></td>
    </tr>

    <tr>
        <td>Select List</td>
        <td><button><a href="/SelectStudentList "> Selected List </a></button></td>
    </tr>

    <tr>
        <td>Department List</td>
        <td><button><a href="/DepartmentWise ">Department List</a></button></td>
    </tr>

</table>
</html>