{#<html lang="en">#}
{#<head><title>Selected Student</title></head>#}
{#<body>#}
{#<table>#}
{#    <thead>#}
{#    <tr>#}
{#        <td><a href="{% url 'home' %}"><button type="button" value="Home">Home</button></a></td>#}
{#        <td><a href="{% url 'condidates' %}"><button type="button" value="Home">condidates</button></a></td>#}
{#        <td><a href="{% url 'SelectStudentList' %}"><button type="button" value="Home">Selected Student</button></a></td>#}
{#        <td><a href="{% url 'DepartmentWise' %}"><button type="button" value="Home">DepartmentWise</button></a></td>#}
{#    </tr>#}
{##}
{#    </thead>#}
{#</table>#}
{##}
{#</body>#}
{#</html>#}


